body{
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    padding-top: 100px;
   }

section{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1%;
  width: 60%;
  margin: auto;
  text-align: center;
}

#img{
  width: 95%;
  border-radius: 25px;
}

#Txt1{
  color: hsl(218, 44%, 22%);
  font: normal 20px Arial;
  margin: 20px;
}

  #Txt2{
  color: hsl(220, 15%, 55%);
  font: normal 10px Arial;
  margin: 25px;
}

.attribution { font-size: 11px; text-align: center; padding-top: 145px;}
.attribution a { color: hsl(228, 45%, 44%); }