@import url('https://fonts.gloogleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);/*cor do fundo sendo Gradiante*/
    min-height: 100vh; /*'vh' a onde a gnt vê*/ /*A tela inteira sendo o 'body' o background*/
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;/*Qualquer elemento com position absolute vai respeitar a limitação da tag main*/
}

.pokedex{
    width: 100%;/*Deixa 100% da tag 'main' assim o tamanho se altera de acordo com a tag*/
    max-width: 425; /*Deixa a imagem com seu tamanho fixo inauterado*/
}

.pokemon_image{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-64%, 20%);/*Recebe um valor x e y que é referente ao tamanho da imagem*/
    height: 18%;
}

.pokemon_data{
    background: linear-gradient(to top, #0EBDD2, #0FEBF7, #A6F3FA, #0EBDD2);
    text-align: initial;
    border-radius: 5px;
    border: 2px solid #3a444d;
    width: 48%;
    padding: 5px;
    position: absolute;
    font-weight: 600;
    color: #333;
    top: 53.32%;
    right: 27%;
    font-size: clamp(8px,5vw,25px); /*minimo, desejado e maximo de tamanho*/
}

.pokemon_name{
    color: #3a444d;
    text-transform: capitalize; /*deixa a primeira letra maiuscula*/
}

.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow:-3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons{
    position:absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 15px;
}

.button{
    width: 10%;
    border-radius: 50%;
    padding: 1%;
    border: 0px solid #28090a00;
    box-shadow:0px 4px 0 #888, -1px 7px 0 #333;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #333;
}

.button:active{
    box-shadow: inset -1px 4px 0 #860729, -2px 2px 0 #333;
    font-size: 0.9rem;
}
